body{
    font-size:15px;
}
.error{
    color:red;
}
.text{
    display:inline-block;
    width:150px;
    text-align: right;

}
#content{
    padding:50px;
    display:block;
    width:600px;
    height:400px;
    position:relative;
    margin:140px auto;
    border:1px solid #dfe0e1;
}

input[type="button"]{
    display:inline-block;
    width:100px;
    height:30px;
    margin-top:30px;
    font-size:15px;
    position: absolute;
    left:43%;
}


input[type="text"],input[type="password"]{
    border:1px solid gainsboro;
    border-radius: 5px;
    margin-right:10px;
}